*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

h1,
h2 {
  font-weight: 700;
}

h3,
h4 {
  font-weight: 600;
}

h1 {
  font-size: 2.4em;
  margin-bottom: 0.6em;
}

h2 {
  font-size: 2em;
  margin-bottom: 0.4em;
}

h3 {
  font-size: 1.6em;
  margin-bottom: 0.3em;
}

h4 {
  font-size: 1.4em;
  margin-bottom: 0.8em;
}

h5,
h6 {
  font-weight: 600;
}

h5 {
  font-size: 1em;
  margin-bottom: 0.6em;
}

h6 {
  font-size: 0.9em;
  margin-bottom: 0.4em;
}

p {
  font-size: 0.9em;
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-blend-mode: multiply;
}

#portfolio {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  padding: 1em;
  width: 1080px;
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

::selection {
  background: #1B52BF;
  color: #ffffff;
}

b {
  font-weight: 600;
}

body,
a {
  cursor: none;
}

.cursor {
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 100;
}
.cursor :hover {
  --size: 2em;
  border: 0.05em solid #1B52BF;
}
.cursor--large {
  --size: 2em;
  border: 0.05em solid #1B52BF;
}
.cursor--small {
  --size: .5em;
  background: #1B52BF;
  transform: translate(-50%, -50%);
}

header {
  padding: 1.2em;
}
header div {
  padding: 1.2em;
}
header section.first {
  margin-bottom: 2em;
}
header section.first .hello,
header section.first .intro {
  display: inline-block;
}
header section.first .hello {
  width: 33.33%;
  vertical-align: bottom;
}
header section.first .hello h1 {
  margin-bottom: 0;
}
header section.first .intro {
  width: 66.66%;
  border-left: 0.05em solid #000000;
}

section.second .name {
  margin: 1em 0;
  text-align-last: justify;
  border-top: 0.05em solid #000;
  border-bottom: 0.05em solid #000;
}
section.second .name h3 {
  font-size: large;
  margin-bottom: 0;
}

.resume {
  display: flex;
  flex-wrap: wrap;
}
.resume section[class^=col-] {
  width: 33.33%;
  padding: 1.2em;
}
.resume section[class^=col-] .topic {
  margin-bottom: 1.6em;
}
.resume .bold,
.resume .link {
  font-weight: 600;
}
.resume .bold span,
.resume .link span {
  font-weight: 400;
}
.resume .link {
  color: #000000;
}
.resume .extra-info {
  font-size: 0.8em;
  font-style: italic;
  line-height: 1.4em;
  margin-bottom: 1em;
}
.resume p {
  line-height: 1.4em;
}
.resume .col-1 .face {
  padding: 0 35% 5% 0;
}
.resume .col-1 .edu .school,
.resume .col-1 .edu .job,
.resume .col-1 .work .school,
.resume .col-1 .work .job {
  display: flex;
  align-items: center;
  margin: 1.2em 0;
}
.resume .col-1 .edu .school img,
.resume .col-1 .edu .job img,
.resume .col-1 .work .school img,
.resume .col-1 .work .job img {
  width: 20%;
  margin-right: 0.8em;
}
.resume .col-2 {
  flex-direction: column;
  border-right: 0.05em solid #000;
  border-left: 0.05em solid #000;
}
.resume .col-2 .projects .project {
  display: flex;
  align-items: center;
  margin: 1.2em 0;
}
.resume .col-2 .projects .project img {
  width: 25%;
  margin-right: 0.8em;
}
.resume .col-2 .skills .on-off,
.resume .col-2 .skills .front-end {
  margin-bottom: 1em;
}
.resume .col-2 .skills .front-end .front-end-icons .css,
.resume .col-2 .skills .front-end .front-end-icons .node,
.resume .col-2 .skills .front-end .front-end-icons .git {
  margin-bottom: 0.8em;
  overflow: hidden;
}
.resume .col-2 .skills .front-end .front-end-icons img,
.resume .col-2 .skills .front-end .front-end-icons .level {
  width: 20%;
}
.resume .col-2 .skills .front-end .front-end-icons img {
  padding-top: 0.6em;
}
.resume .col-2 .skills .front-end .front-end-icons .level {
  font-size: 1.6em;
  text-align: center;
  color: #444;
  padding-top: 0.3em;
  display: inline-block;
}
.resume .col-2 .skills .front-end .front-end-icons .level span {
  font-size: 0.8em;
}
.resume .col-2 .skills .front-end .front-end-icons .text {
  width: 80%;
  padding: 0 0.8em;
  float: right;
}
.resume .col-3 .soft-skills .bar,
.resume .col-3 .soft-skills .pro-bar {
  height: 1.2em;
}
.resume .col-3 .soft-skills .bar {
  width: 100%;
  border: 0.05em solid #000;
}
.resume .col-3 .soft-skills .pro-bar {
  width: 85%;
  background: #000;
  position: relative;
  bottom: 1.2em;
}
.resume .col-3 .soft-skills .soft-skill {
  position: relative;
  bottom: 0.8em;
}
.resume .col-3 .soft-skills .soft-skill img {
  width: 15%;
  position: relative;
  top: 1.635em;
}
.resume .col-3 .soft-skills .soft-skill .bar,
.resume .col-3 .soft-skills .soft-skill .pro-bar {
  left: 15%;
}
.resume .col-3 .soft-skills .soft-skill .bar,
.resume .col-3 .soft-skills .soft-skill .label-soft-skill {
  position: relative;
}
.resume .col-3 .soft-skills .soft-skill .bar {
  width: 85%;
}
.resume .col-3 .soft-skills .soft-skill .pro-bar.psd-pro-bar {
  width: 70%;
}
.resume .col-3 .soft-skills .soft-skill .pro-bar.ai-pro-bar {
  width: 64%;
}
.resume .col-3 .soft-skills .soft-skill .pro-bar.id-pro-bar {
  width: 56%;
}
.resume .col-3 .soft-skills .soft-skill .pro-bar.pr-pro-bar {
  width: 44%;
}
.resume .col-3 .soft-skills .soft-skill .pro-bar.ae-pro-bar {
  width: 48%;
}
.resume .col-3 .soft-skills .soft-skill .pro-bar.live-pro-bar {
  width: 52%;
}
.resume .col-3 .soft-skills .soft-skill .label-soft-skill {
  float: right;
  font-size: 0.8em;
  bottom: 0.8em;
  font-style: italic;
}
.resume .col-3 .langs .level {
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-weight: 600;
}
.resume .col-3 .langs .level label,
.resume .col-3 .langs .level span {
  display: block;
}
.resume .col-3 .langs .level span {
  font-weight: 500;
  font-size: 0.8em;
  line-height: 1.2em;
  margin-top: 0.3em;
}
.resume .col-3 .interests .points {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.resume .col-3 .interests .points .interest {
  text-align: center;
}
.resume .col-3 .interests .points .interest img {
  width: 48px;
}
.resume .col-3 .interests .points .interest p {
  font-size: 0.8em;
  line-height: 1.2em;
}
.resume .col-3 .contact .points .point {
  margin-bottom: 0.8em;
}
.resume .col-3 .contact .points .point p {
  line-height: 1em;
}

footer .bye {
  margin: 1.2em 0;
  padding: 1.2em;
  text-align-last: justify;
  border-top: 0.05em solid #000;
  border-bottom: 0.05em solid #000;
}
footer .bye h3 {
  font-size: small;
  margin-bottom: 0;
}

@media only screen and (max-width: 1020px) {
  #portfolio {
    width: 100%;
  }
  #portfolio .resume .col-1 .face {
    padding: 0 20% 7% 0;
  }
}
@media only screen and (max-width: 760px) {
  .cursor {
    visibility: hidden;
  }
  #portfolio header section.first {
    margin-bottom: 0;
  }
  #portfolio header section.first .hello,
  #portfolio header section.first .intro {
    width: 100%;
  }
  #portfolio header section.first .hello {
    padding: 0 4.8em 2.4em;
  }
  #portfolio header section.first .intro {
    border-top: 0.05em solid #000000;
    border-left: 0;
    padding: 2em 1em;
  }
  #portfolio header section.second .name {
    margin: 0;
    text-align-last: center;
    text-align: center;
  }
  #portfolio .resume section[class^=col-] {
    width: 100%;
  }
  #portfolio .resume .col-1 .face {
    margin: auto;
    padding: 0 4.8em 2.4em;
  }
  #portfolio .resume .col-2 {
    border: 0;
  }
  #portfolio .resume .col-3 .topic .level,
  #portfolio .resume .col-3 .topic .points {
    justify-content: space-around;
  }
}
@media only screen and (max-width: 560px) {
  #portfolio .resume .col-1 .face {
    padding: 0 2.4em 1.2em;
  }
  footer .bye {
    text-align-last: center;
  }
}

/*# sourceMappingURL=style.css.map */
