footer {
    .bye {
        margin: 1.2em 0;
        padding: 1.2em;
        text-align-last: justify;
        border-top: .05em solid #000;
        border-bottom: .05em solid #000;
        h3 {
            font-size: small;
            margin-bottom: 0;
        }
    }
}