.resume {
    display: flex;
    flex-wrap: wrap;
    section[class^='col-'] {
        width: 33.33%;
        padding: 1.2em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .bold,
    .link {
        font-weight: 600;
        span {
            font-weight: 400;
        }
    }
    .link {
        color: $black;
    }
    .extra-info {
        font-size: .8em;
        font-style: italic;
        line-height: 1.2em;
    }
    p {
        line-height: 1.4em;
        
    }
    .col-1 {
        .face {
            width: 82%;
            margin-bottom: 1.6em;
        }
        .edu,
        .work {
            .school,
            .job {
                display: flex;
                align-items: center;
                margin: 1.2em 0;
                &:last-child{
                    margin-bottom: .4em;
                }
                img {
                    width: 20%;
                    margin-right: .8em;
                }
            }
            .job.info{
                text-align: right;
                justify-content: flex-end;
            }
        }
        .edu{
            margin-bottom: 1.6em;
            .start{
                text-align: right;
            }
        }
    }
    .col-2 {
        flex-direction: column;
        border-right: .05em solid #000;
        border-left: .05em solid #000;
        .projects {
            margin-bottom: 1.6rem;
            .project{
                display: flex;
                align-items: center;
                margin: 1.2rem 0;
                img{
                    width: 25%;
                    margin-right: .8rem;
                }
            }
            .extra-info{
                padding-bottom: .8rem;
            }
        }
        .skills {
            .on-off,
            .front-end {
                margin-bottom: 1em;
            }
            .front-end {
                margin-bottom: 0;
                .front-end-icons {
                    .css,
                    .node,
                    .git {
                        display: flex;
                        flex-wrap: wrap;
                        overflow: hidden;
                    }
                    img,
                    .level {
                        width: 20%;
                    }
                    img {
                        padding-top: .6em;
                    }
                    .level {
                        font-size: 1.6em;
                        text-align: center;
                        color: #444;
                        padding-top: .2em;
                        display: inline-block;
                        span {
                            font-size: .8em;
                        }
                    }
                    .text {
                        width: 80%;
                        padding: 1.2rem .8rem 0 .8rem;
                    }
                }
            }
        }
    }
    .col-3 {
        h5{
            margin-bottom: 0;
        }
        .soft-skills {
            .bar,
            .pro-bar {
                height: 1.2em;
            }
            .bar {
                width: 100%;
                border: .05em solid #000;
            }
            .pro-bar {
                width: 85%;
                background: #000;
                position: relative;
                bottom: 1.2em;
            }
            .soft-skill {
                position: relative;
                bottom: .8em;
                img {
                    width: 15%;
                    position: relative;
                    top: 1.635em;
                }
                .bar,
                .pro-bar {
                    left: 15%;
                }
                .bar,
                .label-soft-skill {
                    position: relative;
                }
                .bar {
                    width: 85%;
                }
                .pro-bar.psd-pro-bar {
                    width: 70%;
                }
                .pro-bar.ai-pro-bar {
                    width: 64%;
                }
                .pro-bar.id-pro-bar {
                    width: 56%;
                }
                .pro-bar.pr-pro-bar {
                    width: 44%;
                }
                .pro-bar.ae-pro-bar {
                    width: 48%;
                }
                .pro-bar.live-pro-bar {
                    width: 52%;
                }
                .label-soft-skill {
                    width: 100%;
                    display: block;
                    bottom: .8em;
                    font-size: .8em;
                    font-style: italic;
                    text-align: right;
                }
            }
            .extra-info{
                text-align: right;
                padding-bottom: 1rem;
            }
        }
        .langs,
        .interests,
        .contact{
            margin-bottom: 1.6rem;
        }
        .langs {
            .level {
                display: flex;
                justify-content: space-around;
                text-align: center;
                font-weight: 600;
                label,
                span {
                    display: block;
                }
                span {
                    font-weight: 500;
                    font-size: .8em;
                    line-height: 1.2em;
                    margin-top: .3em;
                }
            }
        }
        .interests {
            .points {
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                .interest {
                    text-align: center;
                    img {
                        width: 48px;
                    }
                    p {
                        font-size: .8em;
                        line-height: 1.2em;
                    }
                }
            }
        }
        .contact {
            .points {
                .point {
                    margin-bottom: .8em;
                    p {
                        line-height: 1em;
                    }
                }
            }
        }
        .bye{
            h4{
                font-size: 2em;
            }
            p{
                .opensource{
                    font-size: .7em;
                }
            }
            h6{
                text-align: right;
                margin-bottom: 0;
                font-style: italic;
            }
        }
    }
}