@media only screen and (max-width: 1020px) {
    #portfolio {
        width: 100%;
        .resume {
            .col-1 {
                .face {
                    padding: 0 20% 7% 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 760px) {
    .cursor {
        visibility: hidden;
    }
    #portfolio {
        //rwd-header
        header {
            section.first {
                margin-bottom: 0;
                .hello,
                .intro {
                    width: 100%;
                }
                .hello {
                    padding: 0 4.8em 2.4em;
                }
                .intro {
                    border-top: .05em solid $black;
                    border-left: 0;
                    padding: 2em 1em;
                }
            }
            section.second {
                .name {
                    margin: 0;
                    text-align-last: center;
                    text-align: center;
                }
            }
        }
        //rwd-resume
        .resume {
            section[class^=col-] {
                width: 100%;
            }
            .col-1 {
                .face {
                    margin: auto;
                    padding: 0 4.8em 2.4em;
                }
            }
            .col-2 {
                border: 0;
            }
            .col-3 {
                .topic {
                    .level,
                    .points {
                        justify-content: space-around;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 560px) {
    #portfolio {
        .resume {
            .col-1 {
                .face {
                    padding: 0 2.4em 1.2em;
                }
            }
        }
    }
    footer {
        .bye {
            text-align-last: center;
        }
    }
}